In [1]:
import pandas as pd
from pyarrow.parquet import ParquetFile

import pyarrow.parquet as pq
import pyarrow as pa
from time import time

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [34]:
engine.connect()

In [10]:
chunk_size = 100000
parquet_file = pq.ParquetFile('yellow_tripdata_2021-01.parquet')

for i in parquet_file.iter_batches(batch_size=100000):
    chunk_df = i.to_pandas()

chunk_df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,6,2021-01-10 17:01:17,2021-01-10 17:01:04,NaN,3.69,NaN,None,265,237,0,15.20,0.00,0.5,0.00,0.00,0.3,16.00,NaN,NaN
1,2,2021-01-10 17:32:52,2021-01-10 17:50:00,NaN,5.76,NaN,None,213,254,0,38.52,0.00,0.5,2.75,0.00,0.3,42.07,NaN,NaN
2,2,2021-01-10 17:11:00,2021-01-10 17:59:00,NaN,25.68,NaN,None,26,216,0,45.70,0.00,0.5,2.75,0.00,0.3,49.25,NaN,NaN
3,2,2021-01-10 17:37:00,2021-01-10 18:02:00,NaN,8.77,NaN,None,230,265,0,22.69,0.00,0.5,0.00,13.75,0.3,39.74,NaN,NaN
4,6,2021-01-10 17:01:43,2021-01-10 17:01:02,NaN,3.97,NaN,None,265,252,0,15.20,0.00,0.5,0.00,0.00,0.3,16.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69764,2,2021-01-31 23:03:00,2021-01-31 23:33:00,NaN,8.89,NaN,None,229,181,0,27.78,0.00,0.5,7.46,0.00,0.3,38.54,NaN,NaN
69765,2,2021-01-31 23:29:00,2021-01-31 23:51:00,NaN,7.43,NaN,None,41,70,0,32.58,0.00,0.5,0.00,6.12,0.3,39.50,NaN,NaN
69766,2,2021-01-31 23:25:00,2021-01-31 23:38:00,NaN,6.26,NaN,None,74,137,0,16.85,0.00,0.5,3.90,0.00,0.3,24.05,NaN,NaN
69767,6,2021-01-31 23:01:06,2021-02-01 00:02:03,NaN,19.70,NaN,None,265,188,0,53.68,0.00,0.5,0.00,0.00,0.3,54.48,NaN,NaN
69768,2,2021-01-31 23:08:29,2021-01-31 23:31:22,NaN,4.68,NaN,None,89,61,0,25.45,2.75,0.5,0.00,0.00,0.3,29.00,NaN,NaN

In [6]:
parquet_file

In [35]:
# for create table on postgres
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [ ]:
chunk_size = 100000
parquet_file = pq.ParquetFile('yellow_tripdata_2021-01.parquet')

for batch in parquet_file.iter_batches(batch_size=chunk_size):
    t_start = time()
    table = pa.Table.from_batches([batch])
    # Process the chunk (table)
    chunk_df = table.to_pandas(split_blocks=True, self_destruct=True)
    chunk_df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print('inserted another chunk, took %.3f second' %(t_end-t_start))